footer {
    background: rgba(0, 0, 0, 0.532);
    color: white;
    text-align: left;
    padding: 10px;
    margin: 0;
    font-family: norm;
    font-size: small;
    width: 100vw;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul li a:hover {
    text-decoration: underline;
    color: rgb(126, 188, 255);
}

@media (max-width: 450px) {
    footer {
        font-size: xx-small;
    }
}