main {
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('photos/tracker_background.jpg');
    background-size: cover;
    background-color: rgba(50, 50, 50, 0.5); 
    background-blend-mode: darken;
    overflow: hidden;
}

.trackerC {
    position: absolute;
    right: 0vw;
    top: 0vh;
    width: 50vw;
    height: 50vh;
    background: rgba(0, 75, 145, 0.678);
    padding: 50px;
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.329);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.329);
}

.footC {
    display: flex;
    cursor: pointer;
}

.footC div {
    transition: transform 0.3s ease;
    position: absolute;
}

.footC div:hover {
    transform: scale(1.2);
}

#carbon {
    top: 6%;
    left: 30.5%;
}

#electricity {
    top: 30.75%;
    left: 39.5%;
}

#transportation {
    top: 32%;
    left: 46%;
}

#food {
    top: 44.2%;
    left: 40.2%;
}

#waste {
    top: 56%;
    left: 39.5%;
}

#water {
    top: 67%;
    left: 39.5%;
}

/* Made calendar CSS from this YouTube tutorial: https://www.youtube.com/watch?v=OcncrLyddAs} */

.calendarC {
    position: relative;
    width: 30vw;
    height: auto;
    top: 30vh;
    left: 2.5vw;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: rgb(255, 255, 255);
    border-radius: 1.5vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.calendarHeaderC {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.monthYearC {
    text-align: center;
    font-weight: 600;
    width: 150px;
}

.calendarHeaderC button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.daysC {
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.dayC {
    text-align: center;
    padding: 5px;
    color: rgba(0, 0, 0, 0.507);
    font-weight: 500;
    font-family: norm;
}

.datesC {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 5px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.2s;
    font-family: norm;
}

.date:hover, .date.active {
    background: rgba(95, 163, 18, 0.753);
    color: rgb(255, 255, 255);
}

.date.inactive {
    color: rgba(147, 153, 141, 0.747);
}

.date.inactive:hover {
    color: rgb(255, 255, 255);
}

.userDataC {
    position: absolute;
    color: white;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

.userDataC ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.userDataC li { 
    text-align: center;
    display: inline;
}

.userDataC .inputC {
    gap: 1.8vw;
}
