/* main {
    flex: 1;
} */

body {
    display: flex;
    /* flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0; */
    overflow: hidden;
    background-color: white;
    background-image: url('photos/cover.png');
    background-size: cover;
}

.contactUsC {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: norm;
    min-height: 100vh;
    display: flex;
}

.contactUsC input {
    display: auto;
}

.contactC {
    position: relative;
    right: 10vw;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.contactC ul {
    position: relative;
    left: 5vw;
    list-style: none;
    padding: 0;
    margin: 0;
}

.contactC li {
    margin: 5vh;
    border: 0.3vw solid rgba(255, 255, 255, 0.542);
    border-radius: 3vw;
    color: white;
    padding: 1vw;
}

.contactC ul li h3 {
    font-family: norm;
}

.contactC ul li p {
    font-family: thine;
    font-size: 1.1vw;
    font-weight: bold;
}

/* footer {
    background: rgba(0, 0, 0);
    color: white;
    text-align: left;
    padding: 10px;
    margin: 0;
} */