body {
    overflow: hidden;
    background-color: white;
    background-image: url('photos/contact_background.png');
    background-size: cover;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
}

.contactUsC, .contactC {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactUsC {
    align-items: center;
    width: 145%;
}

.contactUsC ul {
    list-style-type: none;
}

.contactUsC ul li textarea {
    position: relative;
    right: 1.1vw;
    top: 3vh;
    width: 30vw;
    height: 30vh;
    color: black;
    font-size: large;
    border: 0.2vw solid rgba(77, 77, 77, 0.599);
    border-radius: 3vw;
    box-shadow: 0 0 0.8vw rgb(135, 135, 135);
    outline: none;
    background: transparent;
    resize: none;
    padding: 1.4vw 1.4vw 0 1.4vw;
}

.contactUsC ul li input {
    margin: 1vw;
    padding: 0.45vw;
    color: rgb(0, 0, 0);
    width: 12vw;
    border: 0.2vw solid rgba(77, 77, 77, 0.599);
    border-radius: 0.8vw;
    box-shadow: 0 0 0.8vw rgb(135, 135, 135);
    outline: none;
    background: transparent;
    font-family: thine;
    font-size: 1vw;
}

.contactUsC ul li label {
    position: relative;
    top: 1.5vh;
    font-family: thine;
    font-size: large;
    color: black;
}

.contactUsC h2 {
    position: relative;
    top: 3vh;
    font-family: norm;
    color: rgba(0, 0, 0, 0.599);
}

.contactUsC button {
    position: relative;
    top: 4vh;
    width: 10vw;
    height: 5vh;
    color: rgba(0, 0, 0, 0.599);
    background: transparent;
    border: 0.2vw solid rgba(77, 77, 77, 0.599);
    border-radius: 2.5vw;
    font-family: thine;
    font-size: 1.1vw;
    cursor: pointer;
}

.contactC {
    align-items: flex-start;
    width: 26.5%;
}

.contactC h1 {
    position: relative;
    right: 0.5vw;
    top: 7vh;
    padding: 1vw;
    margin: 5vh;
    color: white;
}

.contactC ul li {
    position: relative;
    right: 3vw;
    list-style-type: none;
    color: white;
    text-align: center;
    border: 0.3vw solid white;
    border-radius: 2vw;
    padding: 1vw;
    margin: 5vh;
}

.contactC ul li h3 {
    font-family: loger;
    letter-spacing: 0.2vw;
}

.contactC ul li p {
    font-family: thine;
}