body {
    overflow: hidden;
    background-color: white;
    background-image: url('photos/cover.png');
    background-size: cover;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh; /* Ensures the divs align relative to the full viewport height */
    padding: 0 20px; /* Adds some spacing on the sides */
}

.contactUsC, .contactC {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactUsC {
    align-items: center;
    width: 60%;
}

.contactUsC ul {
    list-style-type: none;
}

.contactUsC ul li textarea {
    width: 30vw;
    height: 30vh;
    font-size: large;
    border: 0.2vw solid rgba(77, 77, 77, 0.599);
    border-radius: 3vw;
    outline: none;
    background: transparent;
    resize: none;
    padding: 1.4vw 1.4vw 0 1.4vw;
}

.contactUsC ul li input {
    margin: 1vw;
    padding: 0.2vw;
    color: rgb(71, 71, 71);
    width: 12vw;
    border: 0.2vw solid rgba(77, 77, 77, 0.599);
    border-radius: 0.8vw;
    outline: none;
    background: transparent;
    font-family: thine;
    font-size: 1vw;
}

.contactUsC ul li label {
    position: relative;
    top: 1.5vh;
    
    font-family: thine;
    color: black;
    text-decoration: underline;
    padding: 5.2vw;
}

.contactUsC h2 {
    position: relative;
    top: 3vh;
    font-family: norm;
}

.contactC {
    align-items: flex-start;
    width: 26.5%;
}

.contactC ul li {
    position: relative;
    right: 3vw;
    list-style-type: none;
    color: white;
    text-align: center;
    border: 0.3vw solid white;
    border-radius: 2vw;
    padding: 1vw;
    margin: 5vh;
}

.contactC ul li h3 {
    font-family: loger;
    letter-spacing: 0.2vw;
}

.contactC ul li p {
    font-family: thine;
}