main {
    flex: 1;
}

body {
    /* width: 1900px; */
    /* justify-content: center;
    align-items: center; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    /* height: auto; */
    margin: 0;
    padding: 0;
    background-image: url('photos/city-with-green-spaces-iStock-1057157166.jpg');
    background-size: cover;
    background-color: rgba(35, 35, 35, 0.5); 
    background-blend-mode: darken;
    overflow: hidden;
}

.indexC {
    position: relative;
    left: 7vw;
    top: 30vh;
    width: 45vw;
    height: 25vh;
    background: transparent;
    padding: 50px;
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.329);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.329);
    font-family: norm;
    text-align: left;
}

.indexC h1 {
    position: relative;
    top: -5vh;
    font-size: 3.5vw;
    letter-spacing: 0.4vw;
    /* font-family: norm; */
    /* text-align: left; */
    color: rgb(0, 199, 27);
}

.indexC p {
    /* position: relative;
    font-size: 3.5vw;
    letter-spacing: 0.4vw;
    font-family: norm;
    text-align: left;
    color: rgb(0, 199, 27); */
    font-weight: 600;
    color: rgb(188, 188, 188);
}

.indexC label {
    position: relative;
    left: 13vw;
    top: -0.8vh;
    color: rgb(188, 188, 188);
}

.indexC .numTwoC {
    position: relative;
    left: 20vw;
}