main {
    flex: 1;
}

body {
    /* width: 1900px; */
    /* justify-content: center;
    align-items: center; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    /* height: auto; */
    margin: 0;
    padding: 0;
    background-image: url('photos/city-with-green-spaces-iStock-1057157166.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5); 
    background-blend-mode: darken;
    overflow: hidden;
}

.indexC {
    position: relative;
    left: 7vw;
    top: 30vh;
    width: 45vw;
    height: 25vh;
    background: transparent;
    padding: 50px;
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.329);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.329);
    font-family: norm;
    text-align: left;
}

.indexC h1 {
    /* position: relative; */
    font-size: 3.5vw;
    letter-spacing: 0.4vw;
    /* font-family: norm; */
    /* text-align: left; */
    color: rgb(0, 199, 27);
}

.indexC p {
    /* position: relative;
    font-size: 3.5vw;
    letter-spacing: 0.4vw;
    font-family: norm;
    text-align: left;
    color: rgb(0, 199, 27); */
    font-weight: 600;
    color: rgb(255, 255, 255);
}

footer {
    background: rgba(0, 0, 0);
    color: white;
    text-align: left;
    padding: 10px;
    margin: 0;
    font-family: norm;
    font-size: small;
}

.footC {
    list-style-type: none;
    display: flex;
}

.footC div {
    transition: transform 0.3s ease;
    position: relative;
}

.footC div:hover {
    transform: scale(1.2);
}

#carbon {
    top: 20vh;
    left: 37.5vw;
}

#electricity {
    top: 38.75vh;
    left: 20.5vw;
}

#transportation {
    top: 40vh;
    left: 20vw;
}

#food {
    top: 49vh;
    left: 9.5vw;
}

#waste {
    top: 59vh;
    left: 0.0001vw;
}

#water {
    top: 68vh;
    left: -8.5vw;
}