@font-face {
    font-family: loger;
    src: url(fonts/Newake.otf);
}

@font-face {
    font-family: norm;
    src: url(fonts/Comfortaa.ttf);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: url('photos/logBackground.jpg') no-repeat;
    background-size: cover;
}

.loginC {
    position: relative;
    right: -0.75vw;
    top: -8vh;
    width: 20vw;
    height: 42vh;
    background: transparent;
    color: rgb(255, 255, 255);
    padding: 10px 40px;
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.329);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.329);
}

.loginC .forgotC a {
    color: white;
    text-decoration: none;
    position: relative;
    right: -218px;
    top: -18px;
    font-family: norm;
}

.loginC .forgotC a:hover {
    text-decoration: underline;
}

.loginC .epC input {
    width: 86.3%;
    height: 89%;
    background: transparent;
    outline: none;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.344);
    border-radius: 55px;
    padding: 0px 30px 0px 10px;
}

.loginC .epC input::placeholder {
    font-family: norm;
}

.loginC input::placeholder {
    color: white;
}

.loginC h1 {
    font-size: 55px;
    letter-spacing: 4px;
    font-family: loger;
    text-align: center;
    color: rgb(236, 236, 236);
}

.loginC .inputC {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    position: relative;
}

.loginC .showC label {
    cursor: pointer;
    font-family: norm;
    user-select: none;
}

.loginC img {
    position: absolute;
    top: 3px;
    right: 16px;
}

.loginC .submitC button {
    width: 100%;
    height: 35px;
    background-color: rgba(146, 146, 146, 0.318);
    outline: none;
    border: 5px solid rgba(255, 255, 255, 0.329);
    color: rgb(193, 193, 193);
    border-radius: 155px;
    border: none;
    font-size: 17px;
}

.loginC .submitC button:hover {
    cursor: pointer;
    background-color: rgba(187, 187, 187, 0.446);
    color: white;
}

.loginC .registerC a {
    color: white;
    right: 100px;
    font-family: norm;
}

.loginC .registerC a:hover {
    text-decoration: underline;
}

.loginC .registerC {
    text-align: center;
    position: relative;
    top: 1vh;
    font-family: norm;
}

.loginC .showC input {
    display: none;
}

.loginC .showC .checkC {
    position: relative;
    width: 15px;
    height: 15px;
    top: 3px;
    left: 3px;
    border: 2px solid rgba(255, 255, 255, 0.344);;
    border-radius: 7px;
    display: inline-block;
    margin-right: 9px;
    cursor: pointer;
}

.loginC .showC input[type="checkbox"]:checked + .checkC::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #4f73f7;
    border-radius: 5px;
    background-image: url('photos/checkmark.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}