@font-face {
    font-family: titleFont;
    src: url(fonts/Goodboy.ttf);
}

@font-face {
    font-family: baseFont;
    src: url(fonts/KGHAPPYSolid.ttf);
}

@font-face {
    font-family: loginFont;
    src: url(fonts/Happy.ttf);
}

html body {
    margin: none;
    padding: none;
    font-size: 1rem;
}

br {
    user-select: none;
}

.navBarC {
    width: 100%;
    height: 7.8vh;
    background-color: rgba(28, 28, 28, 0.446);
    position: absolute;
    color: rgb(255, 255, 255);
    left: 0;
    top: 0;
    display: flex;
    text-decoration: none;
}

.navBarC h1 {
    position: relative;
    left: 6vw;
    top: -1vh;
    font-size: 1.5vw;
    font-family: titleFont;
    letter-spacing: 0.2vw;
}

.navBarC ul {
    list-style-type: none;
    display: flex;
    position: relative;
    left: 34vw;
    top: 1.2vh;
    font-size: 0.7vw;
    font-family: baseFont;
}

.navBarC a {
    position: relative;
    text-align: center;
    display: inline-block;
    right: 5vw;
    line-height: 2.5vh;
    width: 6vw;
    z-index: 10;
}

.navBarC .listC a:hover {
    background-color: rgba(172, 172, 172, 0.446);
}

.navLogC button:hover {
    background-color: rgba(172, 172, 172, 0.446);
}

.navLogC button {
    position: absolute;
    right: 1vw;
    top: 1.8vh;
    width: 5.2vw;
    height: 4vh;
    background: rgba(87, 87, 87, 0.446);
    outline: none;
    color: white;
    border: 0.1vw solid rgba(119, 119, 119, 0.446);
    border-radius: 155px;
    font-size: 0.8vw;
    font-family: loginFont;
    cursor: pointer;
    letter-spacing: 0.1vw;
}

.navBarC .listC .dropdownC {
    position: absolute;
    top: 5.2vh;
    left: 3.1vw;
    display: block;
    width: 3.95vw;
    height: 9.37vh;
    display: none;
    background-color: rgba(28, 28, 28, 0.446);
}

.navBarC .listC .dropdownC a {
    position: relative;
    text-align: center;
    top: -2.7vh;
    right: 2.05vw;
    line-height: 3vh;
    font-family: baseFont;
}

.navBarC .listC li.dropdownParentC a {
    position: relative;
    text-align: left;
    font-size: 0.7vw;
    text-indent: 0.4vw;
}

.navBarC .listC li.dropdownParentC .dropdownC a {
    text-align: center;
    font-size: 0.6vw;
}

.navBarC .listC .dropdownC a:hover {
    background-color: rgba(172, 172, 172, 0.446);
}

.navBarC .listC .dropdownParentC:hover .dropdownC {
    display: block;
}

.navBarC img {
    position: relative;
    width: 0.6vw;
    height: 1.2vh;
    left: 42.76vw;
    top: 3.2vh;
}

.navBarC .listC .spacerC {
    position: absolute;
    user-select: none;
    transform: translate(0.8vw, -2.3vh);
    z-index: 1;
}