@font-face {
    font-family: titleFont;
    src: url(font/Goodboy.ttf);
}

@font-face {
    font-family: baseFont;
    src: url(font/KGHAPPYSolid.ttf);
}

@font-face {
    font-family: loginFont;
    src: url(font/Happy.ttf);
}

.navBarC {
    width: 100%;
    height: 9.3%;
    background-color: rgba(28, 28, 28, 0.446);;
    position: absolute;
    color: rgb(255, 255, 255);
    left: 0%;
    top: 0%;
    display: flex;
    text-decoration: none;
}

.navBarC h1 {
    position: relative;
    left: 115px;
    top: -13px;
    font-size: 30px;
    font-family: titleFont;
}

.navBarC ul {
    list-style-type: none;
    display: flex;
    position: relative;
    left: 31.5%;
    font-family: baseFont;
}

.navBarC a {
    position: relative;
    text-align: center;
    display: inline-block;
    right: 100px;
    line-height: 35px;
    width: 115px;
}

.navBarC .listC a:hover {
    background-color: rgba(172, 172, 172, 0.446);
}

.navLogC button:hover {
    background-color: rgba(172, 172, 172, 0.446);
}

.navLogC button {
    position: absolute;
    right: 30px;
    top: 17px;
    width: 100px;
    height: 35px;
    background: rgba(87, 87, 87, 0.446);
    outline: none;
    color: white;
    border: 2px solid rgba(119, 119, 119, 0.446);
    border-radius: 155px;
    border: none;
    font-size: 15px;
    font-family: loginFont;
}

.navBarC .listC .dropdownC {
    position: absolute;
    text-align: center;
    top: 52px;
    left: 55px;
    display: block;
    width: 75px;
    height: 103px;
    display: none;
    background-color: rgba(28, 28, 28, 0.446);
}

.navBarC .listC .dropdownC a {
    position: relative;
    top: -17px;
    right: 40px;
    line-height: 30px;
    font-family: baseFont;
}

.navBarC .listC li.dropdownParentC a {
    position: relative;
    text-align: left;
    font-size: 13.5px;
    text-indent: 8.5px;
}

.navBarC .listC li.dropdownParentC .dropdownC a {
    text-align: center;
    font-size: 11px;
}

.navBarC .listC .dropdownC a:hover {
    background-color: rgba(172, 172, 172, 0.446);
}

.navBarC .listC .dropdownParentC:hover .dropdownC {
    display: block;
}

.navBarC img {
    position: absolute;
    width: 10px;
    right: 50.3%;
    top: 27.8px;
}

.navBarC .listC .spacerC {
    position: absolute;
    transform: translate(11.8px, -29.5px);
}