body {
    background-color: rgb(186, 168, 145);
}

h1 {
    text-align: center;
    font-family: loger;
    letter-spacing: 0.2vw;
}

.startC {
    text-align: center;
    font-family: norm;
    letter-spacing: 0.02vw;
    font-size: 0.9vw;
}

h4 {
    font-family: norm;
    font-size: 1.2vw;
}

p {
    font-family: thine;
    font-size: 1vw;
}

h5 {
    font-family: norm;
    font-size: 1vw;
    text-decoration: underline;
}

a {
    font-family: thine;
}

section .linkC a:hover {
    text-decoration: underline;
}