main {
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

footer {
    background: rgba(0, 0, 0);
    color: white;
    text-align: left;
    padding: 10px;
    margin: 0;
    overflow: hidden;
}

.trackerC {
    position: relative;
    right: 0vw;
    top: 0vh;
    width: 50vw;
    height: 50vh;
    background: rgba(0, 75, 145, 0.678);
    padding: 50px;
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.329);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.329);
    /* font-family: norm;
    color: rgb(255, 255, 255);
    text-align: center; */
}

.footC {
    list-style-type: none;
    display: flex;
}

.footC div {
    transition: transform 0.3s ease;
    position: relative;
}

.footC div:hover {
    transform: scale(1.2);
}

#carbon {
    top: 20vh;
    left: 37.5vw;
}

#electricity {
    top: 38.75vh;
    left: 20.5vw;
}

#transportation {
    top: 40vh;
    left: 20vw;
}

#food {
    top: 49vh;
    left: 9.5vw;
}

#waste {
    top: 59vh;
    left: 0.0001vw;
}

#water {
    top: 68vh;
    left: -8.5vw;
}