body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: url('photos/logBackground.png') no-repeat;
    background-size: cover;
}

.loginC {
    width: 375px;
    background: transparent;
    color: rgb(255, 255, 255);
    padding: 10px 40px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.329);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.329);
}

.loginC .showForgotC {
    justify-content: space-between;
}

.loginC .epC input {
    width: 86.3%;
    height: 89%;
    background: transparent;
    outline: none;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.344);
    border-radius: 55px;
    padding: 0px 30px 0px 10px;
}

.loginC input::placeholder {
    color: white;
}

.loginC h1 {
    font-size: 50px;
    text-align: center;
}

.loginC .inputC {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    position: relative;
}

.loginC img {
    position: absolute;
    top: 3px;
    right: 16px;
}

.loginC .submitC button {
    width: 100%;
    height: 35px;
    background: rgb(255, 255, 255);
    outline: none;
    color: rgb(52, 52, 52);
    border: 2px solid rgba(255, 255, 255, 0.344);
    border-radius: 155px;
    border: none;
    font-size: 17px;
}

.loginC .registerC a {
    color: white;
    position: ce;
    right: 100px; 
}

.loginC .registerC a:hover {
    text-decoration: underline;
}

.loginC .registerC {
    text-align: center;
}