/* @font-face {
    font-family: norm;
    src: url(../fonts/Comfortaa.ttf);
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* overflow: hidden; */
    /* background: url('../photos/city-with-green-spaces-iStock-1057157166.jpg') no-repeat;
    background-size: cover; */
}

.trackerC {
    position: relative;
    right: 0vw;
    top: 0vh;
    width: 50vw;
    height: 50vh;
    background: rgba(0, 75, 145, 0.678);
    padding: 50px;
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.329);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.329);
    /* font-family: norm;
    color: rgb(255, 255, 255);
    text-align: center; */
}

/* .indexC p a {
    color: rgb(0, 255, 42);
    text-decoration: none;
} */